* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.container {
  width: 100%;
  height: 100%;
}

h1 {
  padding-top: 10px;
}

.background-clip {
  position: absolute;
  right: 0;
  top: 0;
  z-index: -1;
}

img {
  width: 90px;

  height: 90px;

  float: left;
}

#idCard {
  border: 5px solid black;

  border-radius: 33px;

  height: 14em;

  width: 25em;

  margin: 80px auto 20px;

  background-color: maroon;
}

body {
  color: whitesmoke;
  text-align: center;
}

input:hover {
  background-color: #ffffe0;
}

label {
  font-weight: bold;
}

#postFullName {
  font-size: 30px;
  text-align: center;
}

p {
  font-size: 20px;
  text-align: left;
}

/* min-width = where you're starting from (starting-point).
max-width = where it ends or up to (end-point).*/
@media only screen and (min-width: 360px) {
  .background-clip {
    top: -400px;
  }

  #idCard {
    height: 12em;
    width: 20em;
    margin: 40px auto 20px;
  }

  img {
    width: 72px;
    height: 72px;
  }

  p {
    font-size: 16px;
    padding-left: 10px;
  }

  p,
  #fullName {
    padding-top: 20px;
  }
}

@media screen and (min-height: 700px) {
  .background-clip {
    top: 0px;
  }
}
@media screen and (min-width: 768px) {
  .background-clip {
    top: 0px;
  }

  #idCard {
    border: 5px solid black;

    border-radius: 33px;

    height: 16em;

    width: 26em;

    margin: 80px auto 20px;

    background-color: maroon;
  }

  img {
    width: 90px;

    height: 90px;

    float: left;
  }

  #postFullName {
    font-size: 40px;
    text-align: center;
  }

  p {
    font-size: 25px;
    text-align: left;
    padding-left: 15px;
  }

  #postAge {
    padding-top: 50px;
  }
}

@media screen and (min-width: 915px) {
  .background-clip {
    top: -180px;
  }
}
